@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700');
/* START FONT */
@font-face {
  font-family: 'Gotham Rounded Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Gotham Rounded Medium'), url('../font/GothamRounded-Medium.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Gotham Rounded Light';
  font-style: normal;
  font-weight: normal;
  src: local('Gotham Rounded Light'), url('../font/GothamRounded-Light.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Gotham Rounded Book';
  font-style: normal;
  font-weight: normal;
  src: local('Gotham Rounded Book'), url('../font/GothamRounded-Book.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Gotham Rounded Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Gotham Rounded Light Italic'), url('../font/GothamRounded-LightItalic.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Gotham Rounded Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Gotham Rounded Medium Italic'), url('../font/GothamRounded-MediumItalic.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Gotham Rounded Book Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Gotham Rounded Book Italic'), url('../font/GothamRounded-BookItalic.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Gotham Rounded Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Gotham Rounded Bold Italic'), url('../font/GothamRounded-BoldItalic.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Gotham Rounded Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Gotham Rounded Bold'), url('../font/GothamRounded-Bold.woff') format('woff');
  }
/* END FONT */






/* START ONE PAGE SCROLLING STYLE */
body, html {
  margin: 0;
  overflow: hidden;
  -webkit-transition: opacity 400ms;
  -moz-transition: opacity 400ms;
  transition: opacity 400ms;
}

body, .onepage-wrapper, html {
  display: block;
  position: static;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Gotham Rounded Medium', sans-serif;
}

.onepage-wrapper {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  padding: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.onepage-wrapper .section {
  width: 100%;
  height: 100%;
}

.onepage-pagination {
  position: absolute;
  right: 10px;
  top: 50%;
  z-index: 5;
  list-style: none;
  margin: 0;
  padding: 0;
}
.onepage-pagination li {
  padding: 0;
  text-align: center;
}
.onepage-pagination li a{
  position: relative;
  padding: 10px;
  width: 8px;
  height: 8px;
  display: block;
  
}
.onepage-pagination li a:before{
  content: '';
  position: absolute;
  left: 13px;
  width: 8px;
  height: 8px;
  background: #ec1c2a;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.onepage-pagination li a.active:before{
  position: absolute;
  right: 13px;
  width: 14px;
  height: 14px;
  background: #fff;
  border: 2px solid #ec1c2a;
  margin-top: -4px;
  left: 8px;
}

.disabled-onepage-scroll, .disabled-onepage-scroll .wrapper {
  overflow: auto;
}

.disabled-onepage-scroll .onepage-wrapper .section {
  position: relative !important;
  top: auto !important;
  left: auto !important;
}
.disabled-onepage-scroll .onepage-wrapper {
  -webkit-transform: none !important;
  -moz-transform: none !important;
  transform: none !important;
  -ms-transform: none !important;
  min-height: 100%;
}


.disabled-onepage-scroll .onepage-pagination {
  display: none;
}

body.disabled-onepage-scroll, .disabled-onepage-scroll .onepage-wrapper, html {
  position: inherit;
}

.section {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover !important;
  background-position: center center !important;
}
  
.section-1 {
  background: url(../images/bgone.jpg);
}

.section-2 {
  background: url(../images/bgtwo.jpg);
}

.section-3 {
  background: url(../images/bgthree.jpg);
}

.section-4 {
  background: url(../images/bgfour.jpg);
}

.section-5 {
  background: url(../images/bgfive.jpg);
}

.section-6 {
  background: url(../images/sevenbg.jpg);
}

.section-7 {
  background: url(../images/apps.jpg);
}

.section-8 {
  background-color: #ee2a2c;
}
/* END ONE PAGE SCROLLING STYLE */






/* START BOOTSTRAP OVERRIDING STYLE */
.top-nav .navbar {
  margin-left: 42px;
}

.navbar {
  font-size: 14px;
  padding-top: 0;
  padding-bottom: 0;
  height: 50px;
  overflow: hidden;
}

.navbar-nav .nav-link {
  padding: 12px 15px !important;
}

.navbar-nav .nav-link {
  color: #000 !important;
  letter-spacing: .5px;
}
/* END BOOTSTRAP OVERRIDING STYLE */






/* START CUSTOM STYLE */
.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99999;
}

.top-nav {
  background-color: #ff0000;
}

.top-nav .nav-item a {
  color: #fff !important;
}

.login-icon {
  width: 23px;
  margin-right: 12px;
}

.btn-custom {
  padding: 3px 30px;
  font-size: 14px;
}

.btn-custom:hover,
.btn-custom:active,
.btn-custom:focus {
  background: none;
  box-shadow: none !important;
  border-color: #fff;
  color: #fff;
}

.btn-b {
  padding: 6px 50px;
  margin-left: 15px;
  background-color: #000;
  border-color: #000;
  color: #fff;
}

.btn-b:hover,
.btn-b:active,
.btn-b:focus {
  background-color: #000 !important;
  border-color: #000 !important;
  
}

.btn-w {
  background-color: #fff;
  border-color: #000;
  color: #000;
}

.btn-w:hover,
.btn-w:active,
.btn-w:focus {
  color: #000;
  background-color: #fff !important;
  border-color: #000 !important;
}

.btn-r,
.btn-t {
  font-size: 16px;
  font-family: 'Gotham Rounded Light';
  color: #fff;
}

.btn-r {
  background-color: #ed1e24;
  border: 1px solid #ed1e24;
}

.btn-r:hover,
.btn-r:active,
.btn-r:focus {
  background-color: #ed1e24;
  border: 1px solid #ed1e24;
}

.btn-t {
  background: none;
  border: 1px solid #fff;
}

.nav-icon {
  margin-right: -16px;
}

.nav-icon .nav-item {
  margin-left: 10px;
}

.icons {
  width: 34px;
}

.box {
  position: absolute;
  transform: translate(-50%, -50%);
}

.section-1 .box {
  top: 64%;
  left: 50%;
  right: -50%;
}

.section-2 .box {
  top: 45%;
  left: 80%;
  right: -50%;
}

.section-3 .box {
  top: 42%;
  left: 80%;
  right: -50%;
}

.section-4 .box {
  top: 36%;
  left: 52%;
  right: -50%;
}

.section-5 .box {
  top: 23%;
  transform: translate(0, 0);
}

.section-6 .box {
  top: 18%;
  transform: translate(0, 0);
}

.section-7 .box {
  top: 58%;
  left: 70%;
  right: -37%;
}

.section-8 {
  padding-top: 150px;
}

.section-title {
  font-size: 57px;
  font-weight: bold;
  width: 100%;
}

.section-title,
.section-text  {
  color: #fff;
}

.section-4 .section-title,
.section-4 .section-text,
.section-6 .section-title,
.section-6 .section-text {
  color: #000;
}

.section-text {
  font-family: 'Gotham Rounded Light';
  font-size: 20px;
}

.section-7 .section-text {
  font-size: 29px;
}

.section-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  height: 100px;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: rgba(0, 4, 0, 0.6);
  color: #fff;
}

.bottom-image {
  width: 79px;
}

.bottom-text {
  font-family: 'Gotham Rounded Light';
}

.bottom-text p {
  font-size: 16px;
  margin-bottom: 5px;
}

.bottom-text span {
  font-size: 12px;
}

.footer {
  font-family: 'Gotham Rounded Light';
  color: #fff;
}

.footer-text {
  font-size: 13px;
}

.footer-nav-icon {
  margin-top: 10px;
  margin-left: -18px;
}

.footer-nav-icon .nav-link {
  padding: 0 11px 0 0;
}

.sublist-item a {
  color: #fff;
  font-size: 13px;
}

hr {
  width: 100%;
  background-color: #fff;
}

.footer-bottom {
  font-size: 16px;
}

.subfooter {
  background-color: #454545;
  font-size: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
}
/* START SECTIONS STYLE */

/* END SECTIONS STYLE */


/* END CUSTOM STYLE */


